### An exercise in cleaning data with Pandas

#### You name: _______________
#### Your andrew ID: _________________

In [1]:
import pandas as pd

In [2]:
df = pd.read_table('times.txt',sep='\s+', engine='python', 
                   skiprows=4, names=[], index_col=None)
df.head()

    0         1            2      3   4      5
0   9   January     (Monday)  17:06  to  20:02
1  24   January    (Tuesday)  17:23  to  20:15
2   8  February  (Wednesday)  17:42  to  20:27
3  23  February   (Thursday)  18:00  to  20:37
4   9     March   (Thursday)  18:16  to  20:45

In [3]:
df.dtypes

0     int64
1    object
2    object
3    object
4    object
5    object
dtype: object

In [4]:
df[2] = df[2].apply(lambda s: s[1:4])
df.head()

    0         1    2      3   4      5
0   9   January  Mon  17:06  to  20:02
1  24   January  Tue  17:23  to  20:15
2   8  February  Wed  17:42  to  20:27
3  23  February  Thu  18:00  to  20:37
4   9     March  Thu  18:16  to  20:45

In [5]:
df[1] = df[1].apply(lambda s: s[:3])
df.head()

    0    1    2      3   4      5
0   9  Jan  Mon  17:06  to  20:02
1  24  Jan  Tue  17:23  to  20:15
2   8  Feb  Wed  17:42  to  20:27
3  23  Feb  Thu  18:00  to  20:37
4   9  Mar  Thu  18:16  to  20:45

In [6]:
df=df.set_index(1)
df.head()

      0    2      3   4      5
1
Jan   9  Mon  17:06  to  20:02
Jan  24  Tue  17:23  to  20:15
Feb   8  Wed  17:42  to  20:27
Feb  23  Thu  18:00  to  20:37
Mar   9  Thu  18:16  to  20:45

In [7]:
df.columns = ['day', 'dow', 'start', 'x', 'end']
df.head()

     day  dow  start   x    end
1
Jan    9  Mon  17:06  to  20:02
Jan   24  Tue  17:23  to  20:15
Feb    8  Wed  17:42  to  20:27
Feb   23  Thu  18:00  to  20:37
Mar    9  Thu  18:16  to  20:45

In [8]:
df=df.drop('x', axis=1)
df.head()

     day  dow  start    end
1
Jan    9  Mon  17:06  20:02
Jan   24  Tue  17:23  20:15
Feb    8  Wed  17:42  20:27
Feb   23  Thu  18:00  20:37
Mar    9  Thu  18:16  20:45

In [9]:
df.dtypes

day       int64
dow      object
start    object
end      object
dtype: object

In [10]:
df['s_dt']=pd.to_datetime(df['start']) 
df['e_dt']=pd.to_datetime(df['end'])   
df.head()

     day  dow  start    end                s_dt                e_dt
1
Jan    9  Mon  17:06  20:02 2017-01-31 17:06:00 2017-01-31 20:02:00
Jan   24  Tue  17:23  20:15 2017-01-31 17:23:00 2017-01-31 20:15:00
Feb    8  Wed  17:42  20:27 2017-01-31 17:42:00 2017-01-31 20:27:00
Feb   23  Thu  18:00  20:37 2017-01-31 18:00:00 2017-01-31 20:37:00
Mar    9  Thu  18:16  20:45 2017-01-31 18:16:00 2017-01-31 20:45:00

In [11]:
df.dtypes

day               int64
dow              object
start            object
end              object
s_dt     datetime64[ns]
e_dt     datetime64[ns]
dtype: object

In [12]:
df['diff'] = df['e_dt']-df['s_dt']
df.head()

     day  dow  start    end                s_dt                e_dt     diff
1
Jan    9  Mon  17:06  20:02 2017-01-31 17:06:00 2017-01-31 20:02:00 02:56:00
Jan   24  Tue  17:23  20:15 2017-01-31 17:23:00 2017-01-31 20:15:00 02:52:00
Feb    8  Wed  17:42  20:27 2017-01-31 17:42:00 2017-01-31 20:27:00 02:45:00
Feb   23  Thu  18:00  20:37 2017-01-31 18:00:00 2017-01-31 20:37:00 02:37:00
Mar    9  Thu  18:16  20:45 2017-01-31 18:16:00 2017-01-31 20:45:00 02:29:00

In [13]:
df.dtypes

day                int64
dow               object
start             object
end               object
s_dt      datetime64[ns]
e_dt      datetime64[ns]
diff     timedelta64[ns]
dtype: object

#### Grading Criteria:

1. Above seven columns in output
2. Rows labels have been trimmed to 3 letters
3. df.dtypes are as above

```
   2 points for getting all 3 criteria
   1 point for getting any 1 or 2 out of 3
   0 notebook doesn't run or none of the criteria are achieved
```